# Fichier de secrets
secrets.py

# Si vous avez créé secrets.py dans un dossier src/
# src/secrets.py

# Ignorer le dossier des caches Python
__pycache__/
*.pyc

# Ignorer les fichiers spécifiques à macOS
.DS_Store

# Ignorer les dossiers et fichiers de l'environnement virtuel si vous en utilisez un
# .venv/
# venv/
# env/
